{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="{%static 'css/estilos.css' %}"></link>
</head>
<body>
    <center>
    <h1>index</h1>
    
    <img src="{% static 'images/django.png' %}">
    
    <h1>{{ curso }}</h1>

    <p>{{ outro }}</p>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
             {% for produto in produtos %}
                <tr>
                    <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                    <td> {{ produto.preco }}</td>
                </tr>
             {% endfor %}
        </tbody>
    </table>

    <button onclick="teste();">Clique-me!</button>


    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
</center>
</body>
</html>